/*stylesheet for index.html, contact.html, portfolio.html for media queries*/



header{
background-color: #ffffff;
border-color: #cccccc;
font-family: "Georgia", Times, Times New Roman, serif;
position:absolute;
top: 3px;
left: 125px;
width: 20%;
display: block;
border-bottom:75px;
}

h1{
color: white;
background-color: #4aaaa5;
padding: 30px;
margin: 0px;
text-align: center;
border-color: #cccccc;
font-family: "Georgia", Times, Times New Roman, serif;
}

h2{
color: teal;
border-bottom: 3px solid gray;
font-family: "Georgia", Times, Times New Roman, serif;
}

h3{
border-bottom: 3px solid gray;
text-align: center;
color: teal;
font-family: "Georgia", Times, Times New Roman, serif;
}

h4{
border: 2px solid #4aaaa5;
color: black;
padding: 30px;
margin: 30px;
text-align: center;
}

body{
background-color:rgb(240, 240, 240);
border: 2px solid #dddddd;
font-family: "Arial", Helvetica Neue, Helvetica, sans-serif;
margin-left: auto;
margin-right: auto;
}

/*horizontal navigation styles*/
.horizontalNAV{
float: right;
text-align: center;
background-color: rgb(240, 240, 240);
font-family: "Arial", Helvetica Neue, Helvetica, sans-serif;
padding: 25px;
position: absolute;
top: 35px;
right: 150px;
display: block;
}

.horizontalNAV li{
text-transform: uppercase;
display: inline;
color: LightGray;
font-family: "Arial", Helvetica Neue, Helvetica, sans-serif;
}

.horizontalNAV li  a {
    background-color: white;
    color: #777777;
}

.horizontalNAV a:hover {
    color: #4aaaa5;
    background-color:#777777;
 }

 /*article*/
.mainContent {
border: 2px solid #dddddd;
padding: 75px;
margin: 50px;
background-color: #ffffff;
color: #777777;
position: absolute;
top: 150px;
width: 35%;
float:left;
height:450px;
overflow: scroll;
}

/*aside*/
#panel {
float: right;
height: 200px;
width: 250px;
background-color: #ffffff;
border:2px solid #dddddd;
font-family: "Arial", Helvetica Neue, Helvetica, sans-serif;
color: #777777;
position:absolute;
top: 200px;
right: 250px;

}

form{
border: 2px solid #dddddd;
padding: 30px;
margin: 75px;
float: left;
background-color:#ffffff;
color: #777777;
position: absolute;
top: 100px;
left: 120px;
}

/*button styles*/
form p{
text-align:center;
}

input [type="submit"] {
display:inline;
float:none;
}

footer {
color: #777777;
background-color: #666666;
border-top: 10px solid #4aaaa5;
text-align: center;
font-family: "Arial", Helvetica Neue, Helvetica, sans-serif;
position:absolute;
bottom:-360px;
margin-top: 35px;
padding-bottom: 50px;
padding-top: 50px;
width: 100%;
margin-bottom: 0;
font-size: 0.625em;
}

@media screen and(max-width: 980px){
    
    header,
    body, 
    .mainContent, 
    #panel,
    .horizontalNAV{
        max-width: 100%;
		height: auto;
    }
}

@media screen and (max-width: 768px) {
    header,
    body, 
    .mainContent, 
    #panel,
    .horizontalNAV{
        width: 100%;
		height: auto;
    }
}

@media screen and (max-width: 640px) {
    header,
    body, 
    .mainContent, 
    #panel,
    .horizontalNAV{
        width: 100%;
		height: auto;
    }
    
    header{
        position: static;
    }
}